* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html,
body {
  background-color: #c20013;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 5;
  font-size: 14px;
  font-family: 微軟正黑體;
  font-weight: 700;
}
a {
  color: initial;
  tex-decoration: initial;
}
.box {
  width: 780px;
  background-color: #000000;
  box-shadow: 0px 0px 35px rgb(0, 0, 0, 0.3);
  transition: 0.5;
}
.box:hover {
  box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.4);
  transform: translate(-5px, -5px);
}
.box:hover .top {
  height: 250px;
}
.top {
  background-image: url(https://cdn.hk01.com/di/media/images/1530213/org/5d6d15635ed9c82467aa18b4d020074f.jpg/SMLnBNg_8rSP9ItvVuf4-wSLv7bCxqV-XKZg1FymYNQ?v=w1920);
  background-position: center;
  background-size: cover;
  height: 330px;
  position: relative;
  transition: 0.5;
}
.top.tag {
  width: 25px;
  height: 50px;
  background-color: #5bffe1;
  float: right;
  margin-right: 20px;
}
.top .name {
  position: absolute;
  left: 0px;
  bottom: 5px 15px;
  letter-spacing: 2px;
  color: white;
  font-size: 24px;
  font-weight: 300;
  background: linear-gradient(transparent 0%, black 100%);
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
}
.top .name .smalltex {
  font-size: 10px;
}
.cirbutton {
  width: 50px;
  height: 50px;
  background-color: 50px;
  position: absolute;
  right: 30px;
  bottom: -20px;
}
.bottom {
  padding: 10px 20px 20px 20px;
  color: white;
  font-size: 10px;
  font-family: 微軟正黑體;
}
.bottom li {
  padding: 5px 0px;
}
.bottom h3 {
  display: inline-block;
}
.bottom ul {
  list-style: none;
  padding-left: 0;
}
.buttons {
  margin-top: 30px;
}
.buttons .btn {
  display: inline-block;
  padding: 10px 25px;
  letter-spacing: 2px;
}
.btnwebsite {
  background-color: #ff4500;
  color: white;
  transition: 0.5s;
}
.btnwebsite:hover {
  background-color: #ffa07a;
}
.btnnews {
  border: solid 1px white;
  float: right;
}
.btnnews:hover {
  background-color: #ffa07a;
}
.11 {
  margin-top: 0px;
}
.icon {
  width: 70px;
  height: 70px;
  background: black;
  transition: 0.5s;
}

.flower {
  background: url(https://image.flaticon.com/icons/svg/2970/2970756.svg);
  background-size: cover;
}
.flower:hover {
  mask: rgba(54, 117, 181, 0.6);
  transform: scale(2) rotate(90deg);
}